{% extends "template/base.twig" %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
    <h1>Nothing to see here use postman !</h1>
    <p>{{ test }}</p>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="js/index.js"></script>
{% endblock %}